<div class="right-block">
  <a href="qa.html" style="float:right;font-size:14px; padding:20px;" class="link">មើលទាំងអស់ &raquo;
  </a>
  <div class="right-title">សំនួរ-ចម្លើយ
  </div>
  <div class="right-body">
    <div style='text-align:center; padding:120px 0'>មិនមានសំនួរ
    </div>
    <div style="text-align:center; padding:10px">
      <a href='qa/ask.html' class="button" style="padding:10px 30px; margin-top:10px; margin-right:10px">
      <img src={{'assets/images/systems/writing-icon.png'|theme}} style="width:20px; margin-bottom:-5px; margin-right:5px" />សួរសំនួរ
      </a>
    </div>
  </div>
</div>
