<div class="right-block">

		{% if this.page.id == 'homepage' %}
		<a href="announcement.html" style="float:right; font-size:14px; padding:20px;" class="link">មើលទាំងអស់ &raquo;</a>
		<div class="right-title">ដំណឹងផ្សេងៗ
		</div>
		{% endif %}

		{% if this.page.id == 'en-homepage' %}
		<a href="announcement.html" style="float:right; font-size:14px; padding:20px;" class="link">Show All &raquo;</a>
		<div class="right-title">Announcement
		</div>
		{% endif %}
		<div class="right-body" style="">
			<div id="slider" class="stepcarousel">
				<div class="belt">
				</div>
			</div>
		</div>
	</div>
