<h1 class='content-title'>ទីតាំងការិយាល័យ</h1>
<div class='line-break'>&nbsp
</div>
<div><p><span style="font-size: small;">
<strong>ការិយាល័យស្នាក់ការកណ្តាល<br /></strong></span><br />
<span style="font-size: small;">អស័យដ្ខាន​ ភូមិ៤ សង្កាត់ច្រាំងចំរេះ ខណ្ឌឫស្សីកែវ រាជធានី ភ្នំពេញ</span></p>
<br>
<p><iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=%23116D,+Russian+Federation&amp;aq=&amp;sll=11.558831,104.917445&amp;sspn=0.381431,0.676346&amp;ie=UTF8&amp;hq=%23116D,+Russian+Federation&amp;hnear=&amp;t=m&amp;cid=6786337012721773907&amp;ll=11.570769,104.904928&amp;spn=0.02943,0.05579&amp;z=14&amp;iwloc=A&amp;output=embed" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="650" height="350"></iframe><br /><small><a style="color: #0000ff; text-align: left;" href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=%23116D,+Russian+Federation&amp;aq=&amp;sll=11.558831,104.917445&amp;sspn=0.381431,0.676346&amp;ie=UTF8&amp;hq=%23116D,+Russian+Federation&amp;hnear=&amp;t=m&amp;cid=6786337012721773907&amp;ll=11.570769,104.904928&amp;spn=0.02943,0.05579&amp;z=14&amp;iwloc=A">View Larger Map</a></small></p>
</div>
