
{% set obArticleList = ArticleList.make().sort('publish|desc').published() %}

{{ obArticleList.count() }}

{% set articleIndex = 1 %}
{% set article1 	= obArticleList.first %}
{% set article2 	= obArticleList.first %}
{% set article3 	= obArticleList.first %}
{% set article4 	= obArticleList.first %}
{% set article5 	= obArticleList.first %}
{% set article6 	= obArticleList.first %}
{% set article7 	= obArticleList.first %}
{% set article8 	= obArticleList.first %}


{% for obArticle in obArticleList if articleIndex < 9 %}
		{% if articleIndex == 1 %}
			{% set article1 	= obArticle %}

		{% elseif articleIndex == 2 %}
			{% set article2 	= obArticle %}

		{% elseif articleIndex == 3 %}
			{% set article3 	= obArticle %}

		{% elseif articleIndex == 4 %}
			{% set article4 	= obArticle %}

		{% elseif articleIndex == 5 %}
			{% set article5 	= obArticle %}

		{% elseif articleIndex == 6 %}
			{% set article6 	= obArticle %}

		{% elseif articleIndex == 7 %}
			{% set article7 	= obArticle %}

		{% elseif articleIndex == 8 %}
			{% set article8 	= obArticle %}

		{% endif %}
		{% set articleIndex = articleIndex + 1 %}
{% endfor %}

{% if this.page.id == 'homepage' %}
<a href="{{ 'news'|page({ipage:1})}}" style="float:right;" class="button">មើលទាំងអស់ &raquo</a>
<h1 class="content-title">ព័ត៌មានថ្មីៗ</h1>
{% endif %}

{% if this.page.id == 'en-homepage' %}
<a href="{{ 'news'|page({ipage:1})}}" style="float:right;" class="button">Show All &raquo</a>
<h1 class="content-title">Latest News </h1>
{% endif %}

	{% if obArticleList.isNotEmpty() %}
				<div class="content-body" style="margin-top:10px; border-bottom:5px solid #ddd; padding-bottom:10px; margin-bottom:20px">
				{%	if obArticleList.first is not empty %}
					<div style='font-size:14px; line-height:24px; border:1px sol'>
							<div class='round-bottom' style='float:left; width:430px; min-height:500px; margin-right:10px; margin-bottom:10px; background:#f4f6f6'>
								<div style='margin-bottom:10px; width:430px; height:250px; overflow:hidden'>
									<a class='link' href="{{ 'news-single'|page({id:article1.id})}}">
											<img src= "{{ article1.preview_image.thumb(430,250, {'mode':'exact'}) }}"/>
										</a>
								</div>
								<div style='padding:0 20px;'>
									<a class='link' href="{{ 'news-single'|page({id:article1.id})}}" style='line-height:28px'>{{ article1.title }}</a>
								</div>
								<div style='padding:0 20px; color:#ccc; margin-bottom:10px; '>ចុះផ្សាយ: {{ article1.published_start}}
								</div>
								<div style='padding:0 20px 20px'>{{ article1.preview_text}}</div>
							</div>
						</div>

				{% endif %}

				{%	if obArticleList.first is not empty %}
				<div style='font-size:14px; line-height:24px; border:1px sol'>
					<div style='float:right; width:200px; border-bottom:1px dotted #ddd; margin-bottom:10px; padding-bottom:10px'>
						<div style='margin-bottom:10px'>
							<a class='link' href="{{ 'news-single'|page({id:article2.id})}}">
							<img src="{{ article2.preview_image.thumb(200,100, {'mode':'exact'}) }}"/>
						</a>
						</div>
						<div>
							<a href="{{ 'news-single'|page({id:article2.id})}}" class='link' style='word-wrap:break-word'>{{article2.title}}
							</a>
						</div>
						<div style='color:#ccc; margin-bottom:10px; '>ចុះផ្សាយ: {{ article2.published_start }}
						</div>
					</div>
				</div>
				{% endif %}

				<div style='font-size:14px; line-height:24px; border:1px sol'>
					<div style='float:right; width:200px; border-bottom:1px dotted #ddd; margin-bottom:10px; padding-bottom:10px'>
						<div style='margin-bottom:10px'>
							<a class='link' href="{{ 'news-single'|page({id:article3.id})}}">
								<img src="{{ article3.preview_image.thumb(200,100, {'mode':'exact'}) }}" />
							</a>
						</div>
						<div>
							<a href="{{ 'news-single'|page({id:article3.id})}}" class='link' style='word-wrap:break-word'>
              {{article3.title}}
							</a>}
						</div>
						<div style='color:#ccc; margin-bottom:10px; '>ចុះផ្សាយ: {{article3.published_start}}
						</div>
					</div>
				</div>
				<div style='clear:both'></div>

				<div>&raquo <a class='link' href="{{ 'news-single'|page({id:article4.id})}}" style='width:435px; height:20px; overflow:hidden; display:inline-block; word-wrap:break-word; font-size:12px;' title={{article4.title}}> {{article4.title}} </a>
					...<span style='font-size:12px; color:#ccc; margin-bottom:10px; '> ចុះផ្សាយ: {{article4.published_start}}</span>
				</div>
				<div style='clear:both'></div>

				<div>&raquo <a class='link' href="{{ 'news-single'|page({id:article5.id})}}" style='width:435px; height:18px; overflow:hidden; display:inline-block; word-wrap:break-word; font-size:12px;' title={{article5.title}}> {{article5.title}} </a>
					... <span style='font-size:12px; color:#ccc; margin-bottom:10px; '> ចុះផ្សាយ: {{article5.published_start}}</span>
				</div>
				<div style='clear:both'></div>

				<div>&raquo <a class='link' href="{{ 'news-single'|page({id:article6.id})}}" style='width:435px; height:18px; overflow:hidden; display:inline-block; word-wrap:break-word; font-size:12px;' title={{article6.title}}> {{article6.title}} </a>
					... <span style='font-size:12px; color:#ccc; margin-bottom:10px; '> ចុះផ្សាយ: {{article6.published_start}}</span>
				</div>
				<div style='clear:both'></div>

				<div>&raquo <a class='link' href="{{ 'news-single'|page({id:article7.id})}}" style='width:435px; height:18px; overflow:hidden; display:inline-block; word-wrap:break-word; font-size:12px;' title={{article7.title}}> {{article7.title}} </a>
					... <span style='font-size:12px; color:#ccc; margin-bottom:10px; '> ចុះផ្សាយ: {{article7.published_start}}</span>
				</div>
				<div style='clear:both'></div>

				<div>&raquo <a class='link' href="{{ 'news-single'|page({id:article8.id})}}" style='width:435px; height:18px; overflow:hidden; display:inline-block; word-wrap:break-word; font-size:12px;' title={{article8.title}}> {{article8.title}} </a>
					... <span style='font-size:12px; color:#ccc; margin-bottom:10px; '> ចុះផ្សាយ: {{article8.published_start}}</span>
				</div>
				<div style="clear:both"></div>

			</div>
			{% endif %}
